<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<!-- Definición de las cadenas de conexión a la base de datos -->
	<connectionStrings>
  <add name="NWConnection" connectionString="Data Source=DESKTOP-O6CMB76\\SQLEXPRESS;Initial Catalog=Northwind;Integrated Security=True;"
   providerName="System.Data.SqlClient" />
  <add name="CapaConexion.Properties.Settings.NorthwindConnectionString"
   connectionString="Data Source=DESKTOP-O6CMB76\\SQLEXPRESS;Initial Catalog=Northwind;Integrated Security=True;"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>